#
# [NAME].cnf
#

[ req ]
prompt                  = no
distinguished_name      = server_distinguished_name

[ server_distinguished_name ]
commonName              = [NAME] certificate
stateOrProvinceName     = CR
countryName             = SJ
emailAddress            = openerp@clearcorp.co.cr
organizationName        = CLEARCORP S.A.
organizationalUnitName  = OpenERP
